body {
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

nav {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 12px;
    position: sticky;
}

main {
    margin: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border: solid 1px;
    padding: 8px;
}

td:last-of-type {
    text-align: center;
}

caption {
    font-weight: bold;
    text-align: left;
}

.outstock {
    background-color: red;
}

.lowstock {
    background-color: orange;
}